// Body
$body-bg: #f8fafc;

// Colors

$main: #002d40;
$blue: #3490dc;

$text-main: #002d40;
$blue-light: #d9ecf2;
$pink-light: #f56a79;
$blue-gray: #1aa6b7;
$red-light: #004884;
$dark-gray: #1b1b1b;
$dark-green: rgb(78, 117, 139);
$light-gray: #bec9c3;

$yellow-gray: #ffc107;
$title-index: #d45a43;
$bg-gray: #e6e6e6;
$bg-gray-dark: #bec9c3;
$bg-gray-light: #f2f2f2;

$bg-rose-light: #ff2b6508;
$bg-rose: #F22F63;
$text-medium-gray: #414141;
$text-blue-title: #004884;
$text-link: #007bff;
$header-blue: #3366cc;
$text-gray: #4a4a4a;
$text-gray-light: #D1CFCF;
$black-btn: #1e1e1e;
$footer-gov: #3366cc;
$tooltip-color: white;
$shadow: rgb(0, 70, 133, .25);
