.filepond--root .filepond--credits {
    display: none !important;
}

.filepond--image-preview-overlay-success,
[data-filepond-item-state="processing-complete"] .filepond--item-panel {
    background-color: #36c;
}

.filepond--root {
    border: 2px #36c dashed !important;
} 

.filepond--root .filepond--hopper {
    background-color: #e5eefb;
}

.filepond--root .filepond--drop-label,
.filepond--drop-label.filepond--drop-label label,
.filepond--label-action {
    font-family: -apple-system, "Montserrat";
    color: #36c;
}

.filepond--drop-label,
.filepond--list-scroller,
.filepond--panel-root,
.filepond--drip {
    background-color: rgba(255, 255, 255, 0.438);
}

.filepond--image-preview-overlay {
    display: none;
}
